
.btn {
  background-color: #7E7E7E;
  width: 64px;
  height: 64px;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  text-align: center;
  margin: 15px;
}
.btn:disabled{
  opacity: 0.6;
}

.btn img {
  display: flex;
  margin: auto;
  width: 40px;
}
